blockquote p {
  font-size: 13px;
  font-style: italic;
}
blockquote p::first-line {
  word-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}

.content p {
  line-height: 1.8em;
}

p:has(> img) {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

#content:after {
  content: "Copyright \00a9  Joakim Johansson 2022";
  font-size: 12px;
  font-style: italic;
  float: right;
  margin-top: 30px;
  margin-right: 100px;
}

main {
  position: relative;
  padding-top: 15px;
}

/* <p> which preceeds a <h1> inside <main> is for tags. */
main p:has(+ h1) {
  font-size: 12px;
  font-style: italic;
  opacity: 0.7;
  margin-top: -5px;
  position: absolute;
  right: 30px;
}